<% layout("layouts/boilerplate") %>
<h3 class="mb-4">All Listings</h3>
<div class="row row-cols-lg-3 row-cols-md-2 row-cols-1 g-4">
  <!-- Listings will be rendered here dynamically in Phase 2 -->
</div>
